<a href="https://colab.research.google.com/github/Jayakumar1305/Spark1/blob/main/SparkSQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SparkSQL

In [5]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, ArrayType, MapType


schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("first_name", StringType(), True),
    StructField("last_name", StringType(), True),
    StructField("email", StringType(), True),
    StructField("department", StringType(), True),
    StructField("salary", IntegerType(), True),
    StructField("bonus", IntegerType(), True),
    StructField("skills", StringType(), True),
    StructField("roles", ArrayType(StringType()), True),
    StructField("properties", MapType(StringType(), StringType()), True),
    StructField("joining_date", StringType(), True)
])

# Creating a DataFrame with the schema
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("SparkSchemaExample").getOrCreate()

data = [
    (1, "Alice", "Smith", "alice@gmail.com", "IT", 6000, 1000, "Python,Java", ["Manager", "Developer"], {"key1": "value1", "key2": "value2"}, "2021-06-15"),
    (2, "Bob", "Brown", "bob@gmail.com", "HR", 5000, None, "Recruitment,HR", ["HR", "Manager"], {"key3": "value3"}, "2022-07-20"),
    (3, "Charlie", "Davis", "charlie@gmail.com", "IT", 7000, 1200, "Python,Scala", ["Developer"], {"key4": "value4"}, "2019-03-10"),
    (4, "David", "Wilson", "david@gmail.com", "Finance", 4500, 800, "Accounting,Excel", ["Analyst"], {}, "2020-11-25"),
    (5, "Emma", "Johnson", "emma@gmail.com", "IT", 5500, None, "Python,SQL", ["Developer"], {"key5": "value5", "key6": "value6"}, "2023-01-05")
]

df = spark.createDataFrame(data, schema)

In [6]:
df.show()

+---+----------+---------+-----------------+----------+------+-----+----------------+--------------------+--------------------+------------+
| id|first_name|last_name|            email|department|salary|bonus|          skills|               roles|          properties|joining_date|
+---+----------+---------+-----------------+----------+------+-----+----------------+--------------------+--------------------+------------+
|  1|     Alice|    Smith|  alice@gmail.com|        IT|  6000| 1000|     Python,Java|[Manager, Developer]|{key1 -> value1, ...|  2021-06-15|
|  2|       Bob|    Brown|    bob@gmail.com|        HR|  5000| NULL|  Recruitment,HR|       [HR, Manager]|    {key3 -> value3}|  2022-07-20|
|  3|   Charlie|    Davis|charlie@gmail.com|        IT|  7000| 1200|    Python,Scala|         [Developer]|    {key4 -> value4}|  2019-03-10|
|  4|     David|   Wilson|  david@gmail.com|   Finance|  4500|  800|Accounting,Excel|           [Analyst]|                  {}|  2020-11-25|
|  5|      Emma|  Johnson|   emma@gmail.com|        IT|  5500| NULL|      Python,SQL|         [Developer]|{key5 -> value5, ...|  2023-01-05|
+---+----------+---------+-----------------+----------+------+-----+----------------+--------------------+--------------------+------------+

Creta a SQL table to temporary view

In [8]:
df.createOrReplaceTempView("employees")

In [10]:
spark.sql("select * from employees").show()

+---+----------+---------+-----------------+----------+------+-----+----------------+--------------------+--------------------+------------+
| id|first_name|last_name|            email|department|salary|bonus|          skills|               roles|          properties|joining_date|
+---+----------+---------+-----------------+----------+------+-----+----------------+--------------------+--------------------+------------+
|  1|     Alice|    Smith|  alice@gmail.com|        IT|  6000| 1000|     Python,Java|[Manager, Developer]|{key1 -> value1, ...|  2021-06-15|
|  2|       Bob|    Brown|    bob@gmail.com|        HR|  5000| NULL|  Recruitment,HR|       [HR, Manager]|    {key3 -> value3}|  2022-07-20|
|  3|   Charlie|    Davis|charlie@gmail.com|        IT|  7000| 1200|    Python,Scala|         [Developer]|    {key4 -> value4}|  2019-03-10|
|  4|     David|   Wilson|  david@gmail.com|   Finance|  4500|  800|Accounting,Excel|           [Analyst]|                  {}|  2020-11-25|
|  5|      Emma|  Johnson|   emma@gmail.com|        IT|  5500| NULL|      Python,SQL|         [Developer]|{key5 -> value5, ...|  2023-01-05|
+---+----------+---------+-----------------+----------+------+-----+----------------+--------------------+--------------------+------------+